.foot_container {
  background-color: $background_dark;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  p {
    color: $grey;
    margin: 1% 0%;
    font-size: 14px;
  }
  .footer_link {
    color: $grey;
    margin: 2% 0%;
    font-size: 14px;
  }
  .footer_link:hover {
    color: $white;
  }
  .find_me {
    display: flex;
    justify-content: center;
    width: 200px;
    a {
      color: $grey;
      margin: 0% 4%;
    }
    a:hover {
      color: $white;
    }
  }
}
