body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: Bebas Neue;

  max-width: 100%;
  p {
    font-family: Crimson Text;
  }
  h2 {
    font-size: 32px;
  }
}
