.nav_container {
  background-color: $navbackground;
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%);
  transition: all 0.4s ease-in;
  z-index: 2;
  .logo_box {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo_link {
      text-decoration: none;
      opacity: 0;
      transition: ease-in 0.8s;
      .logo {
        color: $white;
        font-size: 28px;
        padding: 8% 0%;
        margin: 0;
      }
    }
    .logo_active {
      opacity: 1;
    }
  }
  .navigation {
    flex: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      margin: 0% 0%;
      .nav_link {
        text-decoration: none;
        color: $white;
        font-size: 28px;
        font-family: Dosis;
      }
      .nav_link:hover {
        color: $primarycolour;
        transition: color 0.4s;
      }
      .nav_link1 {
        opacity: 0;
        transition: ease-in 1.2s;
      }
      .nav_link1_active {
        opacity: 1;
      }
    }
  }
  .social_media {
    width: 100%;
    height: 10%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .media_links {
      color: $white;
      margin: 0% 4%;
      opacity: 0;
      transition: ease-in 0.3s;
    }
    .media_links_active {
      opacity: 1;
    }
    .media_links:hover {
      color: $primarycolour;
    }
  }
}

.hamburger_menu {
  z-index: 2;
  width: 35px;
  height: 35px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  .line {
    width: 33px;
    height: 1px;
    background-color: $white;
    margin: 6px 0px;
    padding: 1px;
    border-radius: 5px;
    transition: all 0.6s ease;
  }
}
.hamburger_menu:hover .line1 {
  width: 60%;
}
.hamburger_menu:hover .line2 {
  width: 70%;
}
.hamburger_menu:hover .line3 {
  width: 50%;
}
.hamburger_menu .line1_active {
  transform: rotate(-45deg) translate(-5px, 6.5px);
}
.hamburger_menu .line2_active {
  opacity: 0;
}
.hamburger_menu .line3_active {
  transform: rotate(45deg) translate(-6.5px, -7.5px);
}
.nav_active {
  transform: translateX(0%);
}
