.portfolio_container {
  background-image: url("../images/gradient-bg-100.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 0%;
  min-height: 80vh;
  h2 {
    color: $primarycolour;
  }
  // Accordion
  .portfolio_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .accordion_section {
      display: flex;
      flex-direction: column;
      margin-bottom: 1px;
      .accordion {
        background-color: $navbackground;
        color: black;
        cursor: pointer;
        padding: 4px 24px;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        transition: background-color 0.6s ease;

        .accordion_title {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
        .accordion_icon {
          margin-left: auto;
          transition: transform 0.6s ease;
        }
        .rotate {
          transform: rotate(90deg);
        }
      }
      .accordion:hover,
      .active {
        background-color: $grey;
      }
      .accordion_content {
        background-color: white;
        overflow: hidden;
        transition: max-height 0.6s ease;
        max-height: 0;
        .accordion_text {
          font-size: 14px;
          padding: 4px 24px;
          color: black;
        }
      }
    }
  }
}
