$primarycolour: #f5dc97;
$secondarycolour: rgb(108, 143, 145);
$white: rgb(231, 231, 231);
$grey: rgb(204, 204, 204);
$quaternarycolour: black;
$navbackground: rgb(124, 151, 151);
$background: rgb(255, 255, 255);
$background_dark: rgb(20, 20, 20);
